.password-list {
  min-width: 300px;
}

.current-password-label {
  font-size: 16px;
  font-weight: bold;
  margin-right: 5px;
}

.copy-password-button {
  background: #3399ff;
  border: 1px solid #3399ff;
  color: #ffffff;
  padding: 5px 10px;
  border-radius: 5px;
  margin-right: 5px;
}

.refresh-button {
  background: #ffffff;
  border: 1px solid #3399ff;
  color: #3399ff;
  padding: 5px 10px;
  border-radius: 5px;
}


#copy-success {
  display: none;
  position: fixed;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  width: 200px;
  height: 50px;
  background-color: #4caf50;
  color: #fff;
  text-align: center;
  line-height: 50px;
  border-radius: 5px;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
}
